*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
    overflow-x: hidden !important;
}
.banner
{
    width: 100%;
    height: 90vh;
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url(./images/pic3.jpg);
}
.header
{
    width: 100%;
    height: 70px;
    padding: 0px 15%;
    display: inline-flex;
    justify-content: space-between;

}
.logo
{
    width: 20%;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    font-size: larger;
    font-style: italic;
    justify-content: center;
    align-items: center;
    color: white;

}
.nav
{
    width: 45%;
    height: 70px;
}
.nav-links
{
    width: 100%;
    height: 70px;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
   color: white;
}
.nav-link
{
    padding: 5px;
    transition: .3s;
}
.nav-link:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}

.banner-details
{
    width: 100%;
    height: 50px;
    padding: opx 15%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    margin-top: 100px;
    color: #7f58a3;

}
.badge
{
    width: fit-content;
    padding: 10px 20%;
    font-weight: bold;
    font-size: x-large;
    border-radius: 20px;
    background-color: bisque;
}
.banner-heading
{
    font-size: 80px;
    font-style: italic;
    transition: 0.5s;
   font-family: sans-serif;
   color: #7f58a3;
}

.banner-heading:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.btn
{
    padding: 18px 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.booking
{
    width: 80%;
    margin: auto;
    height: 35vh;
    background-color: bisque;
    display: inline-flex;
    padding: 2%;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: 5vh;
    .inp
    {
        .book-btn
        {
            width: max-content;
        }
    }
}

input
{
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
    outline: 0;
    margin-top: 10px;
}

.book-btn
{
    padding: 10px 30px;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    display: inline-flex;
    justify-content: space-between;

}
.book-btn:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}
.about
{
    margin-top: 10%;
    width: 100vw;
    height: 50vh;
    padding: 50px 15%;
    background-color: bisque;

    h4
    {
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: 500;

        margin-bottom: 5%;
    }

    p
    {
        line-height: 25px;
        letter-spacing: 1px;
        word-spacing: 10px;
        font-weight: lighter;

    }
}


.destinations
{
    width: 100%;
    box-sizing: border-box;
    padding: 0 15%;
    background-color: bisque;
    margin-bottom: 10%;

    h1
    {
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: 500;

        margin-bottom: 5%;
    }

    p
    {
        line-height: 25px;
        letter-spacing: 1px;
        word-spacing: 10px;
        font-weight: lighter;

    }
}
.section-title
{
   font-size: 30px;
}
.destinations .destinations-area
{
    margin-top: 10%;
    width: 100%;
    min-height: 200vh;
    max-height: 300vh;
    box-sizing: border-box;
    padding: 1%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .destination
    {
        width: 30%;
        height: 50%;

        .destination-img
        {
            img
            {
                object-fit: cover;
                width: 100%;
                height: 30vh;
            }
        }
        .destination-details
        {
            margin-top: 10px;
            min-height: 50vh;
            height: 60vh;
            max-height: 100vh;

            *
            {
                margin-bottom: 10px;
            }
            h2
            {
                height: 10%;

            }
            p
            {
                height: 55%;

            }
        }
    }
}



.packages
{
    width: 100%;
    padding: 50px 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
.packages-title
{
   font-size: 30px;
}
.packages-area
{
    width: 100%;
    padding: 20px 0px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 40px;
}
